body{
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}



/* Home Container */

.home-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.home-container h1{
  font-size: 40px;
}

.home-container p{
  font-size: 25px;
}

.btn{
  text-decoration: none;
  color: black;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  width: 30%;
  align-items: center;
  cursor: pointer;
  outline: none;
}

/* Navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  background-color: blueviolet;
  
}

.logo{
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  color: #fff;
}

.nav-links{
  width: 100%;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  
}

.links{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  
}

/* Products Page */



.products-container h2{
  font-size: 28px;
}

/* filters Page */

.filters{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 50%; */
}

.filters input{
  height: 5vh;
  width: 100%;
  max-width: 70%;
  margin-bottom: 10px;
}

/* Products-Card */

.product-card{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-card img{
  height: 220px;
  width: 250px;
}

.card-actions{
  width: 100vw;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Product-Detail-Page */

.product-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-detail img{
  height: 70vh;
  
}

.details div{
  
  width: 100vw;
  max-width: 50vw;
  display: flex;
}

.details div button{
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}

/* Cart Page */

.cart-page{
  padding: 10px;
}

.cart-page h2{
  font-size: 28px;
}

.empty-cart{
  font-size: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cart-item img{
  height: 30vh;
}

/* Checkout Page */

.checkout-container h2{
  font-size: 28px;
  padding: 10px;
}

.checkout-box{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70%;
}

.checkout-box input{
  height: 6vh;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px grey solid;
  font-size: 15px;
}

/* Login and Register Page */

.auth-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container form{
  display: flex;
  flex-direction: column;
  border: 1px grey solid;
  border-radius: 5px;
  width: 100%;
  max-width: 50%;
  height: 40%;
  align-items: center;
  justify-content: center;
}

.auth-container input{
  height: 6vh;
  width: 70%;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.login-link{
  color: black;
}

.logout-btn{
  background-color: transparent;
  color: #fff;
  border: #fff;
  font-size: 20px;
}

.nav-user{
  color: #fff;
  font-size: 20px;
}
